body {
  font-family: Verdana, sans-serif;
  width: 250px;
  padding: 10px;
}

h2 {
  margin-top: 0;
}

input {
  width: 100%;
  box-sizing: border-box;
}

button {
  width: 100%;
  margin-top: 5px;
}

li {
  font-family: Verdana, sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
  gap: 8px;
}
